@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* font-family: 'Montserrat', sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.master {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    width: 100%;
}


.container {
    display: flex;
    flex-direction: column;
    background-color: black;
    text-align: center;


}

.onload {
    position: fixed;
    width: 100%;
    height:100vh;
    background-color: black;
    animation: onload 1s alternate infinite;
}

.onload img {
    width: 25% !important;
    margin-top: 25vh !important;
}


@keyframes onload {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


.container section {
    scroll-snap-align: end;
    color: rgb(138, 138, 138);
    height: 100vh;
    margin: auto;
    width: 75%;
    padding: 10vh;
}

.container img {
    width: 50%;
    margin: 5vh;
}

.container h1,h2 {
    color: #E50000;
}

.container .landing img{
    width: 30%;
    margin-bottom: 0;
}

.container h1 {
    font-size: xxx-large ;
    font-style: italic;
}

.landing h1{
    font-size: small;
    color: rgb(138, 138, 138);
}

.landing h2 {
    font-size: xx-large;
    margin-bottom: 10%;
}

.scroll {
    margin: auto;
    width:10%;
}

.container hx {
    display: flex;
    flex-direction: row;
    font-style: italic;
}

.container hx h3 {
    margin: auto;
    color: #E50000;
}
tx {
    color: rgb(138, 138, 138);
    font-size: smaller;
}

.container h4 {
    width: 50%;
    margin: auto;
    margin-top: 5%;
    background-color: rgb(22, 22, 22);
    border-radius: 100vh;
    padding: 1.5vh;
}

.container h4:hover {
    background-color: #E50000;
    color: black;
    transition: all .5s;
}

.container h4:not(:hover) {
    background-color: rgb(22, 22, 22);
    color: rgb(138, 138, 138);
    transition: all .75s;
}

.container .footer {
    color: rgb(138, 138, 138);
    text-align: center;
    font-weight: bolder;
    height: 100vh;
}

st {
    color: #E50000;
    font-size: large;
    font-style: italic;
}

















/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container {
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

.container section {
    color: rgb(138, 138, 138);
    background-color: black;
    height: 100vh;
    width: 100%;
    text-align: center;
    scroll-snap-align: end;
}

.container .onload {
    position: relative;
    top: 100vh;
    width: 100%;
    height: 100vh;
    z-index: 2;
    text-align: center;
    background-color: black;
}

.container img {
    width: 50%;
    float: right;
    height: auto;
}

.container div {
    position: relative;
    top: 20vh;
}

.landing img {
    height: auto;
    float: none;
    width: 25%;
    position: relative;
    top: -10vh;
}

.container h2 {
    position: relative;
    top: -10vh;
    font-size: x-large;
    color: #E50000;
}
.container h1 {
    color: #E50000;
}


.container h1{
    float: left;
    margin-top: 30vh;
    margin-left: 10vh;
    font-size: 2em;
    font-style: italic;
}


.container h5 {
    float: left;
    margin: 5vh;
    margin-top: 35vh;
    margin-left: 5vh;
    font-size: small;
    margin-right: 2.5em;
}

.container .landing h1 {
    color: rgb(117, 117, 117);
    font-size: small;
    float: none;
    position: relative;
    top: 10vh;
    margin: 0;
}

.container h4 {
    position: relative;
    top: 32vh;
    width: 45%;
    float: left;
    margin-left: 3%;
    background-color: rgb(22, 22, 22);
    padding: 1.5vh;
}

.container h4:hover {
    background-color: #E50000;
    color: black;
    transition: all .5s;
}

.container h4:not(:hover) {
    background-color: rgb(22, 22, 22);
    color: rgb(138, 138, 138);
    transition: all .75s;
}

.container .onload img {
    position: relative;
    top: 40vh;
    float: none;
    width: 10%;
    height: auto;
    animation: onload 1s alternate infinite;
}

@keyframes onload {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


.container hx {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 50vh;
    right: 90vh;
    font-style: italic;
}

.container hx h3 {
    margin-left: 90%;
    color: #E50000;
}
tx {
    color: rgb(138, 138, 138);
    font-size: smaller;
}

.container .scroll {
    position: relative;
    top: 20vh;
    width: 2.5%;
}

.container .footer {
    position: relative;
    top: -5vh;
    color: rgb(138, 138, 138);
    text-align: center;
    font-weight: bolder;
    height: 100vh;
}

st {
    color: #E50000;
    font-size: large;
    font-style: italic;
}
 */
